*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(160deg,#c1c1c1, #c7902c,rgb(247, 53, 19),rgb(228, 28, 71));
    overflow: hidden;
}
#con{
    width: 100%;
    height: 100%;
        background-image: linear-gradient(160deg,#c1c1c1, #c7902c,rgb(247, 53, 19),rgb(228, 28, 71));

}
.navindex span{
    top: 0;
    color: rgb(255, 255, 255);
    float: left;
    
}
.navindex{
    text-align: center;
    display: block;
    padding-top: 12px;
    width: 100%;
    height: 6vh;
    color: rgb(255, 255, 255);
    background-color: rgba(248, 248, 248, 0);
}
#left{
    width: 130px;
    
    margin-left: 10%;
}
#ileft
{   
    width: 200px;
   
   border-radius: 4px;
    color:rgb(0, 0, 0);
    font-weight: 700;
    font-size: 12pt;
    
    
}
#iright{
    float: right;
    margin-right: 10%;
    text-align: center;
    font-weight: 400;
}
#iright span{
    margin-left: 20px;
}
#ihome,#iabout,#icontact{
    cursor: pointer;
}
#con1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    
   /*background-image: linear-gradient(160deg,white, orange,rgb(247, 53, 19),rgb(228, 28, 71));*/
}
#con3{
    display: flex;
    width: 80%;
    height: 80%;
    background-color: rgba(255, 235, 205, 0.158);
    filter: drop-shadow(2px 2px 10px black);
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#ap1,#sta1,#adm1{
    display:block;
    padding-top: 30%;
    width: 200px;
    height: 260px;
    margin-left: 10px;
    text-align: center;
    background-color: rgba(15, 15, 15, 0.863);
    border-radius: 6px;
    color: rgb(231, 231, 231);
    font-weight: 600;
    
}

#ap1 a{
    color: rgb(231, 231, 231);
    font-weight: 600;
    
}
#sta1 a{
color: rgb(231, 231, 231);
    font-weight: 600;
}
#adm1 a{
color: rgb(231, 231, 231);
    font-weight: 600;
}
#add,#status,#admin{
    width:80px;
    height:80px;
}
#adm1:hover{
    background-color: rgba(24, 24, 24, 0.863);;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 10px rgba(165, 44, 44, 0.699));
    transition: .3s;
}
#sta1:hover{
    background-color: rgba(24, 24, 24, 0.863);;
    filter: drop-shadow(2px 2px 10px rgba(165, 44, 44, 0.699));
    transform: scale(1.1);
    transition: .3s;
}
#ap1:hover{
    background-color: rgba(24, 24, 24, 0.863);;
    transform: scale(1.1);
    filter: drop-shadow(2px 2px 10px rgba(165, 44, 44, 0.699));
    transition: .3s;
}
#footer{
    
    display: block;
    margin: auto;
    text-align: center;
    font-size: 8pt;
    padding-top: 4px;
    width: 90%;
    height: 4vh;
    background-color: rgb(255, 255, 255);
}

/*userlogin.php styles*/
#alrt{
    text-align: left;
    color: white;
    background-color: red;
}
#frm{
    display: block;
    width: 400px;
    height: 300px;
    background-color: rgba(255, 235, 205, 0.158);
    margin: auto;
    margin-top: 10%;
    padding-top: 3%;
    padding-left: 75px;
    text-align: left;
    
}
table,th,td{
    overflow: hidden;
    border: none;
}
#sub{
    margin-top: 5px;
    width: 250px;
    height: 30px;
    background-color: rgba(24, 24, 24, 0.918);
    color: rgb(228, 228, 228);
    font-weight: 700;
    border: none;
    border-radius: 2px;
}
#usr,#pas{
    width: 250px;
    height: 30px;
    margin-left: 0;
    margin-top: 2px;
    border: 1px solid black;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.438);
    color: black;
   
}
#tit{
    width: 250px;
    text-align: center;
    font-weight: 500;
    
}
.btn a{
    display: block;
    width: 250px;
    height: 30px;
    color: black;
    
    text-align: center;
}
.btn a:hover{
    background-color: rgba(165, 165, 165, 0.438);
}